.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container__grilla{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}
.container__grilla__cuadrado{
    width: 500px;
    height: 500px;
    background-image: url(../img/ojopixar.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border-top: 250px solid green;
    border-bottom: 250px solid green;
    box-sizing: border-box;
    transition: 1s;
    
}

.container__grilla__cuadrado:hover{
   transition: 1s;
   border-top: 0px solid green;
   border-bottom: 0px solid green;
 }

 