/* *********************************** */
/* *** Estilos SOLO para index.html *** */
/* *********************************** */



#container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  
    
    
}
.container__grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    gap: 100px;
    margin-top: 20px;
   
  
    
}
.container__grilla__item{
    border-radius: 50%;
}

.container__grilla__item--rojo{
    background-color: black;
    border-radius: 50%;
    
    
}
.container__grilla__item01--green{
    background-color: black;
    border-radius: 50%;        
}
.container__grilla__item02--yellow{
    background-color: black;
    border-radius: 50%;        
}
.container__grilla__item03--blue{
    background-color: black;
    border-radius: 50%;        
}

.container__grilla__item--rojo:hover{
    background-color: red;
    z-index: 2;
}
.container__grilla__item01--green:hover{
    background-color: green;
    z-index: 2;
}
.container__grilla__item02--yellow:hover{
    background-color: yellow;
    z-index: 2;
}
.container__grilla__item03--blue:hover{
    background-color: blue;
    z-index: 2;
}

.container__grilla__item{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration:none;
    color: blue;
    font-size:2rem;
    font-family: sans-serif;
    
}

.container__grilla__item:hover{
    color: red;
    transition: 1s;
    z-index: 2;
}

